body {
    margin-top: -27px;
}

.container {
    background-color: rgb(249, 244, 244);
    height: 100%;
}

p {
    font-size: 2.1em;
    text-align: center;
    font-family: monospace;
    padding: 20px;
}

.main {
    background-color: #F9F7EF;
    padding: 35px;
    width: 850px;
    margin: 0 auto 75px;
    box-shadow: 1px 1px 2px 3px black;
}

.color_selection {
    border: 1px solid #eee;
    width: 100px;
    background-color: rgb(249, 249, 253);
    float: left;
    box-shadow: 1px 1px 1px 1px black;
}

.colors {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin: 25px;
    border: 1px solid darkgray;
}

#red {
    background-color: #ef2803;
}

#yellow {
    background-color: #fffb6f;
}

#blue {
    background-color: #3da4ff;
}

#green {
    background-color: #09ac30;
}

.grid {
    height: 520px;
    width: 675px;
    float: right;
    background-color: rgb(249, 249, 253);
    border: 2px solid black;
}

#row-1 {
    height: 125px;
    border-bottom: 7px solid black;
}

#row-2 {
    height: 125px;
    border-bottom: 7px solid black;
}

#row-3 {
    height:125px;
    border-bottom: 7px solid black;
}

#row-1-1,
#row-2-1,
#row-3-1,
#row-4-1 {
    width: 100px;
    height: 125px;
    float: left;
    border-right: 7px solid black;
}

#row-1-2,
#row-2-2,
#row-3-2,
#row-4-2 {
    width: 200px;
    height: 125px;
    float: left;
    border-right: 7px solid black;
}

#row-1-3,
#row-2-3,
#row-3-3,
#row-4-3 {
    width: 245px;
    height: 125px;
    float: left;
    border-right: 7px solid black;
}

#row-1-4,
#row-2-4,
#row-3-4,
#row-4-4 {
    width: 109px;
    height: 125px;
    float: left;
}

.clear {
    clear: both;
}
